// colors
$black: #191923;
$white: #fff;
$red: #ff3b30;
$green: #44c35a;
$blue: #007bff;
$yellow: #ffcc00;
$light-gray: #d7d7d7;

$danger: $red;
$primary: $blue;
$success: $green;
$warning: $yellow;
$light-box:rgba(0, 0, 0, 0.4);

// dark theme colors
$text-color:#b2b2b2;
$loader-border: #f3f3f3;
$menu-text-color:#d3d3d3;
$menu-highlight: #e6e7e8;
$outline_color: #242533;
$background_color:#d7d7d7;


// general
$border-radius: 4px;
$app-header-height: 60px;
$component-margin-top: 18px;
$general_font: sans-serif, "Helvetica Neue", Helvetica, Arial;

// --

// // colors
// $white: #fff;
// $gray: #6c757d;
// $blue: #007bff;
// $red: #dc3545;
// $info: #17a2b8;
// $light: #f8f9fa;
// $green: #28a745;
// $orange: #fd7e14;
// $yellow: #ffc107;
// $gray-dark: #343a40;
// $theme_color: #4267b2;
// $hover_color: #213359;
// $background_color: #eff1f3;

// $danger: $red;
// $primary: $blue;
// $success: $green;
// $secondary: $gray;
// $warning: $yellow;
