@import '../common/variables.scss';

.create-container {
    height: 600px;
    background-color: white;
    padding: 10px 40px 80px 40px;
    border-radius: $border-radius;
    border: 1.05px solid $text-color;
    margin-top: $component-margin-top;

    .header-wrapper {
        color: white;
        font-size: 20px;
        font-weight: bold;
        background-color: #00ad6b;
        padding: 15px 0px 15px 40px;
        margin: -10px -40px 40px -40px;
        border-radius: $border-radius $border-radius 0px 0px;
    }

    .btn-org {
        padding: 15px 0px 0px 0px;
    }
}